## Phase 1: Data extraction

https://news.ycombinator.com/item?id=41614126

https://github.com/conjuncts/gmft

https://www.reddit.com/r/LocalLLaMA/comments/1854d06/table_extraction_from_pdf/ ==> some guy did https://docs.google.com/spreadsheets/d/12IhxHZbYF71dPl32PQpF_6pg9e9S8f9W4sTHt-B0KTg/edit?gid=0#gid=0 


https://www.getmagical.com/blog/extract-table-from-pdf


As to whether traditional OCR or LLMs are better for this task

#### Conclusions:
- We REALLY want to keep the right figures, so potentially trying lower end models for this, while it can be accurate a fair amount of the time, likely does not counteract the risk of it eventually hallucinating. Not all LLMs are equal.
- [Marker](https://github.com/vikParuchuri/marker) has 20k stars on github and was found from the excel sheet; but has a commercial usage agreement so Nahh

https://github.com/conjuncts/gmft ? => Relies on Table transformers (microsoft), small, seems ideal. I've also seen stuff for AWS textract but let's keep it simple for now.

In [1]:
import gmft
from gmft.auto import AutoTableDetector, AutoTableFormatter
from gmft.pdf_bindings import PyPDFium2Document
import pandas as pd

# Load PDF and extract tables
pdf_path = "./pdf_inputs/fwc_sample_financial_statement 1.pdf"
detector = AutoTableDetector()
formatter = AutoTableFormatter()

doc = PyPDFium2Document(pdf_path)
tables = []

for page_num, page in enumerate(doc):
    extracted_tables = detector.extract(page)
    for table_index, table in enumerate(extracted_tables):
        formatted_table = formatter.extract(table)
        table_data = formatted_table.df()
        if table_data is not None:
            tables.append(table_data)

doc.close()
print(doc, tables)

<gmft.pdf_bindings.pdfium.PyPDFium2Document object at 0x00000230A3FCB880> [  Motor vehicle expenses Donations Legal costs Administration expenses  \
0                     4H        4G          4F                      4E
1                 89,000    77,000     296,000               1,649,000
2                 79,000   120,000      62,000               1,475,000

  Depreciation Affiliation fees Capitation fees Expenses Employee expenses  \
0           4D               4C              4B                         4A
1       97,000          228,000         830,000                  3,167,000
2       88,000          231,000         823,000                  3,023,000

  revenue      Total Other revenue Rental income Interest  \
0    None       None            3A          None     None
1    None  7,797,000       613,000       185,000  251,000
2    None  7,701,000       655,000       244,000  231,000

  Membership subscriptions          Revenue  \
0                     None            Notes
1                6,748,000      Last Year $
2                6,571,000  Previous Year $

  Statement of comprehensive For the year ended 30 June
0                                             income
1                                               None
2                                               None     ]

> Tried gmft and it has all these nice metrics etc but when I actually used it, it was terrible - because after some diving in it seems to be designed for actual tables in scientific journals etc, whilst this pdf is amajority of white space, tables go over multiple pages etc so it really does not deal well with this.

Would be way better to just get a text reader for this case
It also takes very long

In [18]:
import PyPDF2
pdf_path = "fwc_sample_financial_statement 1.pdf"


def extract_text_from_pdf(pdf_path):
    text = ""
    with open(pdf_path, 'rb') as file:
        reader = PyPDF2.PdfReader(file)
        for page in reader.pages:
            text += page.extract_text()
            text += "\n==================\n"
    return text

pdf_text = extract_text_from_pdf(pdf_path)
print(pdf_text)

FS 023 Sample financial statement   10 March  2023  | p. 1 Fact Sheet  FS 023 | 10 March  2023

Sam ple financial statements

Statement of  comprehensive income
For the year ended 30 June

Notes  Last Year
$ Previous Year
$
Revenue
Membership subscriptions   6,748,000  6,571,000
Interest   251,000  231,000
Rental income   185,000  244,000
Other revenue  3A 613,000  655,000
Total revenue   7,797,000  7,701,000

Expenses
Employee expenses  4A 3,167,000  3,023,000
Capitation fees  4B 830,000  823,000
Affiliation fees  4C 228,000  231,000
Depreciation  4D 97,000  88,000
Administration expenses  4E 1,649,000  1,475,000
Legal costs  4F 296,000  62,000
Donations  4G 77,000  120,000
Motor vehicle expenses  4H 89,000  79,000

==================

FS 023 Sample financial statement   10 March  2023  | p. 2 Other expenses  4I 835,000  775,000
Total expenses   7,268,000  6,676,000

Surplus (deficit) for the year   529,000  1,025,000

Other comprehensive income
Gain on revaluation â€“ investment property   - 342,000

Total comprehensive income for the year   529,000  1,367,000


The above statement should be read in conjunction with the notes .


==================

FS 023 Sample financial statement   10 March  2023  | p. 3 Statement of financial position
As at 30 June

Notes  Last Year
$ Previous Year
$
ASSETS
 Current Assets
Cash and cash equivalents  5A 3,093,000  4,955,000
Trade and other receivables  5B 528,000  226,000
Other current assets  5C 408,000  383,000
Total Current Assets   4,029,000  5,564,000

Non -Current Assets
Land and buildings  6A 10,000,000  -
Plant and equipment  6B 104,000  132,000
Motor vehicles  6C 141,000  147,000
Investment property  6D 2,170,000  2,000,000
Total Non -Current Assets   12,415,000  2,279,000

TOTAL ASSETS   16,444,000  7,843,000

LIABILITIES
Current Liabilities
Trade and other payables  7A 337,000  244,000
Employee provisions  7B 520,000  556,000
Total Current Liabilities   857,000  800,000

==================

FS 023 Sample financial statement   10 March  2023  | p. 4 Non -Current Liabilities
Borrowings  8A 8,000,000  -
Employee provisions  7B 140,000  125,000
Total Non -Current Liabilities   8,140,000  125,000

TOTAL LIABILITIES   8,997,000  925,000

NET ASSETS   7,447,000  6,918,000

EQUITY
Retained earnings   7,105,000  6,576,000
Reserves   342,000  342,000
TOTAL EQUITY   7,447,000  6,918,000


The above statement should be read in conjunction with the notes .

==================

FS 023 Sample financial statement   10 March  2023  | p. 5 Statement of changes in equity
For the year ended 30 June
 Asset
Revaluation
Reserve
$
Retained
Earnings
$

Total
$
Balance as at 1 July previous year  - 6,186,000  5,209,000
Revaluation increment  342,000          - 342,000
Profit for the year      - 1,367,000  1,367,000
Closing balance as at
30 June previous year  342,000  6,576,000  6,918,000

Revaluation increment  -         - -
Profit for the year      - 529,000  529,000
Closing balance as at
30 June last year  342,000  7,105,000  7,447,000


The above statement should be read in conjunction with the notes .

==================

FS 023 Sample financial statement   10 March  2023  | p. 6 Statement of cash flows
For the year ended 30 June

Notes  Last Year
$ Previous Year
$
CASH FLOWS FROM OPERATING ACTIVITIES
Cash Received
Receipts from members   7,007,000  6,903,000
Interest   251,000  231,000
Rental   314,000  379,000
Other   373,000  294,000
Total Cash Received   7,945,000  7,807,000

Cash Used
Employees   (2,824,000)  (2,695,000)
Suppliers   (4,585,000)  (4,210,000)
Total Cash Used   (7,409,000)  (6,905,000)

NET CASH FROM OPERATING ACTIVITIES   536,000  902,000

INVESTING ACTIVITIES
Cash Received
Proceeds from sale of plant and equipment   9,000  56,000
Total Cash Received   9,000  56,000

Cash Used
Purchase of land and buildings   (10,000,000)  -
Purchase of plant and equipment   (234,000)  (156,000)
Purchase of investments   (173,000)                      -
Total Cash Used   (10,407,000)  (156,000)
==================

FS 023 Sample financial statement   10 March  2023  | p. 7
NET CASH FROM INVESTING ACTIVITIES   (10,398,000)  (100,000)

FINANCING ACTIVITIES
Cash Received
Borrowings   8,000,000             -
Total Cash Received   8,000,000  -

Cash Used
Repayment of borrowings   -       -
Total Cash Used

NET CASH FROM FINANCING ACTIVITIES        8,000,000  -

NET INCREASE/(DECREASE) IN CASH HELD   (1,862,000)  802,000

Cash and cash equivalents at the beginning of the
reporting period   4,955,000  4,153,000

Cash and cash equivalents at the end of the reporting
period  5A 3,093,000  4,955,000


The above statement should be read in conjunction with the notes .


Â© Commonwealth of Australia 20 23
This fact sheet is not intended to be comprehensive. It is designed to assist in gaining an understanding of the financial
statements that registered organisations are required to prepare and lodge with the Fair Work  Commission. The Fair Work
Commission does not provide legal advice.
==================

In [31]:
import pdfplumber # pdfplumber IS SLOWER BTW by a fair bit, but it also does give much nicer formatting.
pdf_path = "./pdf_inputs/fwc_sample_financial_statement 1.pdf"

def extract_full_text(pdf_path):
    full_text = ""
    with pdfplumber.open(pdf_path) as pdf:
        for page in pdf.pages:
            full_text += page.extract_text() + "\n"  # Append text from each page and add a newline
    return full_text

# Extract all text without caring about page numbers
full_text = extract_full_text(pdf_path)

# Print the entire text
print(full_text)

## Per page version below 
# def extract_pdf_by_pages(pdf_path):
#     pages_text = {}
#     with pdfplumber.open(pdf_path) as pdf:
#         for page_num, page in enumerate(pdf.pages, 1):
#             pages_text[f"page_{page_num}"] = page.extract_text()
#     return pages_text

# # Extract all pages
# pages = extract_pdf_by_pages(pdf_path)

# # Print each page to see what we're working with
# for page_num, text in pages.items():
#     print(page_num, text)

Fact Sheet FS 023 | 10 March 2023
Sample financial statements
Statement of comprehensive income
For the year ended 30 June
Last Year Previous Year
Notes $ $
Revenue
Membership subscriptions 6,748,000 6,571,000
Interest 251,000 231,000
Rental income 185,000 244,000
Other revenue 3A 613,000 655,000
Total revenue 7,797,000 7,701,000
Expenses
Employee expenses 4A 3,167,000 3,023,000
Capitation fees 4B 830,000 823,000
Affiliation fees 4C 228,000 231,000
Depreciation 4D 97,000 88,000
Administration expenses 4E 1,649,000 1,475,000
Legal costs 4F 296,000 62,000
Donations 4G 77,000 120,000
Motor vehicle expenses 4H 89,000 79,000
FS 023 Sample financial statement 10 March 2023 | p. 1
Other expenses 4I 835,000 775,000
Total expenses 7,268,000 6,676,000
Surplus (deficit) for the year 529,000 1,025,000
Other comprehensive income
Gain on revaluation â€“ investment property - 342,000
Total comprehensive income for the year 529,000 1,367,000
The above statement should be read in conjunction with the notes.
FS 023 Sample financial statement 10 March 2023 | p. 2
Statement of financial position
As at 30 June
Last Year Previous Year
Notes $ $
ASSETS
Current Assets
Cash and cash equivalents 5A 3,093,000 4,955,000
Trade and other receivables 5B 528,000 226,000
Other current assets 5C 408,000 383,000
Total Current Assets 4,029,000 5,564,000
Non-Current Assets
Land and buildings 6A 10,000,000 -
Plant and equipment 6B 104,000 132,000
Motor vehicles 6C 141,000 147,000
Investment property 6D 2,170,000 2,000,000
Total Non-Current Assets 12,415,000 2,279,000
TOTAL ASSETS 16,444,000 7,843,000
LIABILITIES
Current Liabilities
Trade and other payables 7A 337,000 244,000
Employee provisions 7B 520,000 556,000
Total Current Liabilities 857,000 800,000
FS 023 Sample financial statement 10 March 2023 | p. 3
Non-Current Liabilities
Borrowings 8A 8,000,000 -
Employee provisions 7B 140,000 125,000
Total Non-Current Liabilities 8,140,000 125,000
TOTAL LIABILITIES 8,997,000 925,000
NET ASSETS 7,447,000 6,918,000
EQUITY
Retained earnings 7,105,000 6,576,000
Reserves 342,000 342,000
TOTAL EQUITY 7,447,000 6,918,000
The above statement should be read in conjunction with the notes.
FS 023 Sample financial statement 10 March 2023 | p. 4
Statement of changes in equity
For the year ended 30 June
Asset
Revaluation Retained
Reserve Earnings Total
$ $ $
Balance as at 1 July previous year - 6,186,000 5,209,000
Revaluation increment 342,000 - 342,000
Profit for the year - 1,367,000 1,367,000
Closing balance as at 342,000 6,576,000 6,918,000
30 June previous year
Revaluation increment - - -
Profit for the year - 529,000 529,000
Closing balance as at 342,000 7,105,000 7,447,000
30 June last year
The above statement should be read in conjunction with the notes.
FS 023 Sample financial statement 10 March 2023 | p. 5
Statement of cash flows
For the year ended 30 June
Last Year Previous Year
Notes $ $
CASH FLOWS FROM OPERATING ACTIVITIES
Cash Received
Receipts from members 7,007,000 6,903,000
Interest 251,000 231,000
Rental 314,000 379,000
Other 373,000 294,000
Total Cash Received 7,945,000 7,807,000
Cash Used
Employees (2,824,000) (2,695,000)
Suppliers (4,585,000) (4,210,000)
Total Cash Used (7,409,000) (6,905,000)
NET CASH FROM OPERATING ACTIVITIES 536,000 902,000
INVESTING ACTIVITIES
Cash Received
Proceeds from sale of plant and equipment 9,000 56,000
Total Cash Received 9,000 56,000
Cash Used
Purchase of land and buildings (10,000,000) -
Purchase of plant and equipment (234,000) (156,000)
Purchase of investments (173,000) -
Total Cash Used (10,407,000) (156,000)
FS 023 Sample financial statement 10 March 2023 | p. 6
NET CASH FROM INVESTING ACTIVITIES (10,398,000) (100,000)
FINANCING ACTIVITIES
Cash Received
Borrowings 8,000,000 -
Total Cash Received 8,000,000 -
Cash Used
Repayment of borrowings - -
Total Cash Used
NET CASH FROM FINANCING ACTIVITIES 8,000,000 -
NET INCREASE/(DECREASE) IN CASH HELD (1,862,000) 802,000
Cash and cash equivalents at the beginning of the 4,955,000 4,153,000
reporting period
Cash and cash equivalents at the end of the reporting 5A 3,093,000 4,955,000
period
The above statement should be read in conjunction with the notes.
Â© Commonwealth of Australia 2023
This fact sheet is not intended to be comprehensive. It is designed to assist in gaining an understanding of the financial
statements that registered organisations are required to prepare and lodge with the Fair Work Commission. The Fair Work
Commission does not provide legal advice.
FS 023 Sample financial statement 10 March 2023 | p. 7

#### Conclusions
PDF plumber takes (noticeably) longer, but is more accurate/has less missing characters so we'll be using this because ideally, the data extraction script should only run once (and we can save the outputs to a DB or something eventually... (foreshadowing: RAG yay!))

In [13]:
import re
### First, let's just clean the headers/footers since those are absolutely useless (And the Notes $ $ )

def clean_text(raw_text):
    # Remove headers, footers, page numbers
    clean = re.sub(r"FS 023.*?\|\s+p\.\s+\d+", "", raw_text)

    # Get rid of end of document text
    clean = re.sub(r'Â© Commonwealth of Australia.*?legal advice\.', '', clean, flags=re.DOTALL) # DOTALL allows the match to continue across multiple lines.

    return clean

cleaned_text = clean_text(full_text) 
print(cleaned_text)

Fact Sheet FS 023 | 10 March 2023
Sample financial statements
Statement of comprehensive income
For the year ended 30 June
Last Year Previous Year
Notes $ $
Revenue
Membership subscriptions 6,748,000 6,571,000
Interest 251,000 231,000
Rental income 185,000 244,000
Other revenue 3A 613,000 655,000
Total revenue 7,797,000 7,701,000
Expenses
Employee expenses 4A 3,167,000 3,023,000
Capitation fees 4B 830,000 823,000
Affiliation fees 4C 228,000 231,000
Depreciation 4D 97,000 88,000
Administration expenses 4E 1,649,000 1,475,000
Legal costs 4F 296,000 62,000
Donations 4G 77,000 120,000
Motor vehicle expenses 4H 89,000 79,000

Other expenses 4I 835,000 775,000
Total expenses 7,268,000 6,676,000
Surplus (deficit) for the year 529,000 1,025,000
Other comprehensive income
Gain on revaluation â€“ investment property - 342,000
Total comprehensive income for the year 529,000 1,367,000
The above statement should be read in conjunction with the notes.

Statement of financial position
As at 30 June
Last Year Previous Year
Notes $ $
ASSETS
Current Assets
Cash and cash equivalents 5A 3,093,000 4,955,000
Trade and other receivables 5B 528,000 226,000
Other current assets 5C 408,000 383,000
Total Current Assets 4,029,000 5,564,000
Non-Current Assets
Land and buildings 6A 10,000,000 -
Plant and equipment 6B 104,000 132,000
Motor vehicles 6C 141,000 147,000
Investment property 6D 2,170,000 2,000,000
Total Non-Current Assets 12,415,000 2,279,000
TOTAL ASSETS 16,444,000 7,843,000
LIABILITIES
Current Liabilities
Trade and other payables 7A 337,000 244,000
Employee provisions 7B 520,000 556,000
Total Current Liabilities 857,000 800,000

Non-Current Liabilities
Borrowings 8A 8,000,000 -
Employee provisions 7B 140,000 125,000
Total Non-Current Liabilities 8,140,000 125,000
TOTAL LIABILITIES 8,997,000 925,000
NET ASSETS 7,447,000 6,918,000
EQUITY
Retained earnings 7,105,000 6,576,000
Reserves 342,000 342,000
TOTAL EQUITY 7,447,000 6,918,000
The above statement should be read in conjunction with the notes.

Statement of changes in equity
For the year ended 30 June
Asset
Revaluation Retained
Reserve Earnings Total
$ $ $
Balance as at 1 July previous year - 6,186,000 5,209,000
Revaluation increment 342,000 - 342,000
Profit for the year - 1,367,000 1,367,000
Closing balance as at 342,000 6,576,000 6,918,000
30 June previous year
Revaluation increment - - -
Profit for the year - 529,000 529,000
Closing balance as at 342,000 7,105,000 7,447,000
30 June last year
The above statement should be read in conjunction with the notes.

Statement of cash flows
For the year ended 30 June
Last Year Previous Year
Notes $ $
CASH FLOWS FROM OPERATING ACTIVITIES
Cash Received
Receipts from members 7,007,000 6,903,000
Interest 251,000 231,000
Rental 314,000 379,000
Other 373,000 294,000
Total Cash Received 7,945,000 7,807,000
Cash Used
Employees (2,824,000) (2,695,000)
Suppliers (4,585,000) (4,210,000)
Total Cash Used (7,409,000) (6,905,000)
NET CASH FROM OPERATING ACTIVITIES 536,000 902,000
INVESTING ACTIVITIES
Cash Received
Proceeds from sale of plant and equipment 9,000 56,000
Total Cash Received 9,000 56,000
Cash Used
Purchase of land and buildings (10,000,000) -
Purchase of plant and equipment (234,000) (156,000)
Purchase of investments (173,000) -
Total Cash Used (10,407,000) (156,000)

NET CASH FROM INVESTING ACTIVITIES (10,398,000) (100,000)
FINANCING ACTIVITIES
Cash Received
Borrowings 8,000,000 -
Total Cash Received 8,000,000 -
Cash Used
Repayment of borrowings - -
Total Cash Used
NET CASH FROM FINANCING ACTIVITIES 8,000,000 -
NET INCREASE/(DECREASE) IN CASH HELD (1,862,000) 802,000
Cash and cash equivalents at the beginning of the 4,955,000 4,153,000
reporting period
Cash and cash equivalents at the end of the reporting 5A 3,093,000 4,955,000
period
The above statement should be read in conjunction with the notes.

In [29]:
#### So, each main table section ends with "The above statement should be read in conjunction with the notes."

### In this specific case we COULD just do cleaned_text.split('the notes string thing') but I'll use regex just so we can account for a bit more variation in different pdfs.


def split_into_sections_regex(cleaned_text):
    """Splits cleaned financial statement text into 4 sections with flexible matching of the stop phrase."""
    
    # Regex pattern to match variations like:
    # - "The above statement should be read in conjunction with the notes."
    # - "Above statement must be considered along with the notes."
    # - "above statement should be read carefully with the notes."
    stop_pattern = r"(?:The\s*)?above statement .*? with the notes\.?"

    # Split using regex
    sections = re.split(stop_pattern, cleaned_text, flags=re.IGNORECASE)

    # Remove extra whitespace and filter empty sections
    sections = [sec.strip() for sec in sections if sec.strip()]

    if len(sections) != 4:
        print(f"Warning: Expected 4 sections, but found {len(sections)}")

    return sections

# Apply function
sections = split_into_sections_regex(cleaned_text)
segmented_statements = split_into_sections_regex(cleaned_text)

# Assign sections
income_statement_text, balance_sheet_text, equity_changes_text, cash_flow_text = sections

# Display output
# print("\n--- Income Statement ---\n", income_statement_text)
# print("\n--- Balance Sheet ---\n", balance_sheet_text)
print("\n--- Equity Changes ---\n", equity_changes_text)
# print("\n--- Cash Flow ---\n", cash_flow_text)

--- Equity Changes ---
 Statement of changes in equity
For the year ended 30 June
Asset
Revaluation Retained
Reserve Earnings Total
$ $ $
Balance as at 1 July previous year - 6,186,000 5,209,000
Revaluation increment 342,000 - 342,000
Profit for the year - 1,367,000 1,367,000
Closing balance as at 342,000 6,576,000 6,918,000
30 June previous year
Revaluation increment - - -
Profit for the year - 529,000 529,000
Closing balance as at 342,000 7,105,000 7,447,000
30 June last year

In [5]:
import pandas as pd

def extract_income_statement(text_list):
    """Extracts Revenue, Expenses, and Profit from Income Statement."""
    income_statement = []
    
    for line in text_list:
        match = re.search(r"([A-Za-z\sâ€“]+)\s+([\d,]+|-)\s+([\d,]+|-)", line)
        if match:
            item = match.group(1).strip()
            last_year = match.group(2).replace(",", "")
            prev_year = match.group(3).replace(",", "")

            # Convert to numeric (handling "-" as zero)
            last_year = 0 if last_year == "-" else float(last_year)
            prev_year = 0 if prev_year == "-" else float(prev_year)

            income_statement.append({"Item": item, "Last Year": last_year, "Previous Year": prev_year})
    
    return pd.DataFrame(income_statement)

income_statement_df = extract_income_statement(segmented_statements["Statement of comprehensive income"])

print("\nIncome Statement:")
display(income_statement_df)

Income Statement:

                                         Item  Last Year  Previous Year
0                    Membership subscriptions  6748000.0      6571000.0
1                                    Interest   251000.0       231000.0
2                               Rental income   185000.0       244000.0
3                                           A   613000.0       655000.0
4                               Total revenue  7797000.0      7701000.0
5                                           A  3167000.0      3023000.0
6                                           B   830000.0       823000.0
7                                           C   228000.0       231000.0
8                                           D    97000.0        88000.0
9                                           E  1649000.0      1475000.0
10                                          F   296000.0        62000.0
11                                          G    77000.0       120000.0
12                                          H    89000.0        79000.0
13                                          I   835000.0       775000.0
14                             Total expenses  7268000.0      6676000.0
15                               for the year   529000.0      1025000.0
16  Gain on revaluation â€“ investment property        0.0       342000.0
17    Total comprehensive income for the year   529000.0      1367000.0

Key segments of financial data ARE:

- Income Statement (Revenue, Expenses, Profit)
- Balance Sheet / Financial Position (Assets, Liabilities, Equity)
- Statement of Changes in Equity
- Cash Flow Statement

**We're going to use a way which ASSUMES that pdfs given will follow similarly worded formatting**

In [ ]:
def extract_income_statement(cleaned_pages):
    # Combine pages 1 and 2 which contain the income statement
    text = cleaned_pages['page_1'] + '\n' + cleaned_pages['page_2']
    
    lines = []
    
    pattern = r"""
        ([A-Za-z\sâ€“]+)        # Item name: letters, spaces, dashes
        \s+                   # One or more spaces
        (?:\d[A-Z])?          # Optional Notes column (e.g., 3A)
        \s*                   # Zero or more spaces
        ([\d,]+|-)            # Last Year value: numbers with commas or a dash
        \s+                   # One or more spaces
        ([\d,]+|-)            # Previous Year value: numbers with commas or a dash
    """
    for line in text.split('\n'):
        # Look for lines with amounts
        print(line)
        match = re.search(pattern, line, re.VERBOSE)
        if match:
            item = match.group(1).strip()
            last_year = match.group(2).replace(',', '')
            prev_year = match.group(3).replace(',', '')

            print('YOO', item, last_year, prev_year)
            
            # Convert to numeric, handling '-' as 0
            last_year = 0 if last_year == '-' else float(last_year)
            prev_year = 0 if prev_year == '-' else float(prev_year)
            
            lines.append({
                'Item': item,
                'Last Year': last_year,
                'Previous Year': prev_year
            })
    
    df = pd.DataFrame(lines)
    return df

income_statement_df = extract_income_statement(cleaned_pages)
print("Income Statement:")
display(income_statement_df)  # Jupyter will show this as a nice table

Fact Sheet FS 023 | 10 March 2023
Sample financial statements
Statement of comprehensive income
For the year ended 30 June
Last Year Previous Year
Notes $ $
Revenue
Membership subscriptions 6,748,000 6,571,000
YOO Membership subscriptions 6748000 6571000
Interest 251,000 231,000
YOO Interest 251000 231000
Rental income 185,000 244,000
YOO Rental income 185000 244000
Other revenue 3A 613,000 655,000
YOO Other revenue 613000 655000
Total revenue 7,797,000 7,701,000
YOO Total revenue 7797000 7701000
Expenses
Employee expenses 4A 3,167,000 3,023,000
YOO Employee expenses 3167000 3023000
Capitation fees 4B 830,000 823,000
YOO Capitation fees 830000 823000
Affiliation fees 4C 228,000 231,000
YOO Affiliation fees 228000 231000
Depreciation 4D 97,000 88,000
YOO Depreciation 97000 88000
Administration expenses 4E 1,649,000 1,475,000
YOO Administration expenses 1649000 1475000
Legal costs 4F 296,000 62,000
YOO Legal costs 296000 62000
Donations 4G 77,000 120,000
YOO Donations 77000 120000
Motor vehicle expenses 4H 89,000 79,000
YOO Motor vehicle expenses 89000 79000

Other expenses 4I 835,000 775,000
YOO Other expenses 835000 775000
Total expenses 7,268,000 6,676,000
YOO Total expenses 7268000 6676000
Surplus (deficit) for the year 529,000 1,025,000
YOO for the year 529000 1025000
Other comprehensive income
Gain on revaluation â€“ investment property - 342,000
YOO Gain on revaluation â€“ investment property - 342000
Total comprehensive income for the year 529,000 1,367,000
YOO Total comprehensive income for the year 529000 1367000


Statement of financial position
As at 30 June
Last Year Previous Year
Notes $ $
ASSETS
Current Assets
Cash and cash equivalents 5A 3,093,000 4,955,000
YOO Cash and cash equivalents 3093000 4955000
Trade and other receivables 5B 528,000 226,000
YOO Trade and other receivables 528000 226000
Other current assets 5C 408,000 383,000
YOO Other current assets 408000 383000
Total Current Assets 4,029,000 5,564,000
YOO Total Current Assets 4029000 5564000
Non-Current Assets
Land and buildings 6A 10,000,000 -
YOO Land and buildings 10000000 -
Plant and equipment 6B 104,000 132,000
YOO Plant and equipment 104000 132000
Motor vehicles 6C 141,000 147,000
YOO Motor vehicles 141000 147000
Investment property 6D 2,170,000 2,000,000
YOO Investment property 2170000 2000000
Total Non-Current Assets 12,415,000 2,279,000
YOO Current Assets 12415000 2279000
TOTAL ASSETS 16,444,000 7,843,000
YOO TOTAL ASSETS 16444000 7843000
LIABILITIES
Current Liabilities
Trade and other payables 7A 337,000 244,000
YOO Trade and other payables 337000 244000
Employee provisions 7B 520,000 556,000
YOO Employee provisions 520000 556000
Total Current Liabilities 857,000 800,000
YOO Total Current Liabilities 857000 800000

Non-Current Liabilities
Borrowings 8A 8,000,000 -
YOO Borrowings 8000000 -
Employee provisions 7B 140,000 125,000
YOO Employee provisions 140000 125000
Total Non-Current Liabilities 8,140,000 125,000
YOO Current Liabilities 8140000 125000
TOTAL LIABILITIES 8,997,000 925,000
YOO TOTAL LIABILITIES 8997000 925000
NET ASSETS 7,447,000 6,918,000
YOO NET ASSETS 7447000 6918000
EQUITY
Retained earnings 7,105,000 6,576,000
YOO Retained earnings 7105000 6576000
Reserves 342,000 342,000
YOO Reserves 342000 342000
TOTAL EQUITY 7,447,000 6,918,000
YOO TOTAL EQUITY 7447000 6918000


Statement of changes in equity
For the year ended 30 June
Asset
Revaluation Retained
Reserve Earnings Total
$ $ $
Balance as at 1 July previous year - 6,186,000 5,209,000
YOO July previous year - 6186000
Revaluation increment 342,000 - 342,000
YOO Revaluation increment 342000 -
Profit for the year - 1,367,000 1,367,000
YOO Profit for the year - 1367000
Closing balance as at 342,000 6,576,000 6,918,000
YOO Closing balance as at 342000 6576000
30 June previous year
Revaluation increment - - -
YOO Revaluation increment - -
Profit for the year - 529,000 529,000
YOO Profit for the year - 529000
Closing balance as at 342,000 7,105,000 7,447,000
YOO Closing balance as at 342000 7105000
30 June last year


Statement of cash flows
For the year ended 30 June
Last Year Previous Year
Notes $ $
CASH FLOWS FROM OPERATING ACTIVITIES
Cash Received
Receipts from members 7,007,000 6,903,000
YOO Receipts from members 7007000 6903000
Interest 251,000 231,000
YOO Interest 251000 231000
Rental 314,000 379,000
YOO Rental 314000 379000
Other 373,000 294,000
YOO Other 373000 294000
Total Cash Received 7,945,000 7,807,000
YOO Total Cash Received 7945000 7807000
Cash Used
Employees (2,824,000) (2,695,000)
Suppliers (4,585,000) (4,210,000)
Total Cash Used (7,409,000) (6,905,000)
NET CASH FROM OPERATING ACTIVITIES 536,000 902,000
YOO NET CASH FROM OPERATING ACTIVITIES 536000 902000
INVESTING ACTIVITIES
Cash Received
Proceeds from sale of plant and equipment 9,000 56,000
YOO Proceeds from sale of plant and equipment 9000 56000
Total Cash Received 9,000 56,000
YOO Total Cash Received 9000 56000
Cash Used
Purchase of land and buildings (10,000,000) -
Purchase of plant and equipment (234,000) (156,000)
Purchase of investments (173,000) -
Total Cash Used (10,407,000) (156,000)

NET CASH FROM INVESTING ACTIVITIES (10,398,000) (100,000)
FINANCING ACTIVITIES
Cash Received
Borrowings 8,000,000 -
YOO Borrowings 8000000 -
Total Cash Received 8,000,000 -
YOO Total Cash Received 8000000 -
Cash Used
Repayment of borrowings - -
YOO Repayment of borrowings - -
Total Cash Used
NET CASH FROM FINANCING ACTIVITIES 8,000,000 -
YOO NET CASH FROM FINANCING ACTIVITIES 8000000 -
NET INCREASE/(DECREASE) IN CASH HELD (1,862,000) 802,000
Cash and cash equivalents at the beginning of the 4,955,000 4,153,000
YOO Cash and cash equivalents at the beginning of the 4955000 4153000
reporting period
Cash and cash equivalents at the end of the reporting 5A 3,093,000 4,955,000
YOO Cash and cash equivalents at the end of the reporting 3093000 4955000
period


This fact sheet is not intended to be comprehensive. It is designed to assist in gaining an understanding of the financial
statements that registered organisations are required to prepare and lodge with the Fair Work Commission. The Fair Work
Commission does not provide legal advice.


Income Statement:

,Item,Last Year,Previous Year
0,Membership subscriptions,6748000.0,6571000.0
1,Interest,251000.0,231000.0
2,Rental income,185000.0,244000.0
3,Other revenue,613000.0,655000.0
4,Total revenue,7797000.0,7701000.0
5,Employee expenses,3167000.0,3023000.0
6,Capitation fees,830000.0,823000.0
7,Affiliation fees,228000.0,231000.0
8,Depreciation,97000.0,88000.0
9,Administration expenses,1649000.0,1475000.0
10,Legal costs,296000.0,62000.0
11,Donations,77000.0,120000.0
12,Motor vehicle expenses,89000.0,79000.0
13,Other expenses,835000.0,775000.0
14,Total expenses,7268000.0,6676000.0
15,for the year,529000.0,1025000.0
16,Gain on revaluation â€“ investment property,0.0,342000.0
17,Total comprehensive income for the year,529000.0,1367000.0
18,Cash and cash equivalents,3093000.0,4955000.0
19,Trade and other receivables,528000.0,226000.0
20,Other current assets,408000.0,383000.0
21,Total Current Assets,4029000.0,5564000.0
22,Land and buildings,10000000.0,0.0
23,Plant and equipment,104000.0,132000.0
24,Motor vehicles,141000.0,147000.0
25,Investment property,2170000.0,2000000.0
26,Current Assets,12415000.0,2279000.0
27,TOTAL ASSETS,16444000.0,7843000.0
28,Trade and other payables,337000.0,244000.0
29,Employee provisions,520000.0,556000.0
30,Total Current Liabilities,857000.0,800000.0
31,Borrowings,8000000.0,0.0
32,Employee provisions,140000.0,125000.0
33,Current Liabilities,8140000.0,125000.0
34,TOTAL LIABILITIES,8997000.0,925000.0
35,NET ASSETS,7447000.0,6918000.0
36,Retained earnings,7105000.0,6576000.0
37,Reserves,342000.0,342000.0
38,TOTAL EQUITY,7447000.0,6918000.0
39,July previous year,0.0,6186000.0
40,Revaluation increment,342000.0,0.0
41,Profit for the year,0.0,1367000.0
42,Closing balance as at,342000.0,6576000.0
43,Revaluation increment,0.0,0.0
44,Profit for the year,0.0,529000.0
45,Closing balance as at,342000.0,7105000.0
46,Receipts from members,7007000.0,6903000.0
47,Interest,251000.0,231000.0
48,Rental,314000.0,379000.0
49,Other,373000.0,294000.0
50,Total Cash Received,7945000.0,7807000.0
51,NET CASH FROM OPERATING ACTIVITIES,536000.0,902000.0
52,Proceeds from sale of plant and equipment,9000.0,56000.0
53,Total Cash Received,9000.0,56000.0
54,Borrowings,8000000.0,0.0
55,Total Cash Received,8000000.0,0.0
56,Repayment of borrowings,0.0,0.0
57,NET CASH FROM FINANCING ACTIVITIES,8000000.0,0.0
58,Cash and cash equivalents at the beginning of the,4955000.0,4153000.0
59,Cash and cash equivalents at the end of the re...,3093000.0,4955000.0

In [ ]:
import pandas as pd # Sideventure of trying to just throw the pdf at gemini and telling it to generate a csv (DID NOT WORK AT ALL)

# Replace 'your_file.csv' with the actual name of your CSV file
df = pd.read_csv('gemini_test.csv') # wow gemini CANNOT make csvs LOL okay looks like this manual reading off pdf is better atleast.

# Now you can work with the data in the DataFrame 'df'
print(df)

                                                Statement  Item   Category  \
Income                                            Revenue   NaN        NaN
NaN                              Membership subscriptions   NaN  6748000.0
NaN                                              Interest   NaN   251000.0
NaN                                         Rental income   NaN   185000.0
NaN                                         Other revenue   NaN   613000.0
...                                                   ...   ...        ...
NaN                                       Total Cash Used   NaN        NaN
NaN                    NET CASH FROM FINANCING ACTIVITIES   NaN  8000000.0
NaN                  NET INCREASE/(DECREASE) IN CASH HELD   NaN  1862000.0
NaN     Cash and cash equivalents at the beginning of ...   NaN  4955000.0
NaN     Cash and cash equivalents at the end of the re...   NaN  3093000.0

        Last Year  Previous Year
Income        NaN            NaN
NaN     6571000.0            NaN
NaN      231000.0            NaN
NaN      244000.0            NaN
NaN      655000.0            NaN
...           ...            ...
NaN           NaN            NaN
NaN           NaN            NaN
NaN      802000.0            NaN
NaN     4153000.0            NaN
NaN     4955000.0            NaN

[82 rows x 5 columns]

## Phase 5 - Scaling And Stuff

#### For scaling preprocessing

We currently use a mix of manutal table names w/ regex patterns which is fine here, but in more varied datasets we may have some errors as people use slightly different words/terminology that falls through the regex patterns. So potentially using NLP based methods (like spacy, etc.) would help here. 

(Ideally, the pdfs we'd have aren't spaced messes and actually have concise tables so we can use gmft but ideals do not always happen).


#### For RAG:

Potential for RAG for greater reliability or some sort of pre-processed database so the PDF reading and processing doesn't have to happen every time.

Then you RAG it to get more accurate answers while still being able to ask the GenAI model any query.

RAG is a trade-off of speed for accuracy, but for large databases, itâ€™s pretty practical because of context limits (i.e., you canâ€™t throw 10,000 docs into the LLM, so use a retriever to find 5 relevant documents instead!).

// Optimise retrieval via pre-indexing statements

// Deploying on cloud (AWS lambda) for better pipelines and scalability (e.g preprocessing function runs whenever new pdf is inputted, then thrown into a 
database)



//// https://gemini.google.com/app/92f6d574bc081ed7 ====> for other scaling ideas like docker etc